.my-button {
    color: #9fe5f4;
    background: #3197d1;
    margin-right: 15px;
    border: none;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.my-button:hover {
    color: #ffffff;
    background: #3197d1;
    border-color: #3197d1;
}

.my-button:active {
    color: #ffffff;
    background: #3197d1!important;
    border-color: #3197d1!important;
}

.my-navbar {
    background-color: #3197d1!important;
    height: 50px;
}

.my-text-color {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #9fe5f4!important;
}

.my-text-color:hover {
    color: #ffffff!important;
}

.imputFieldEnterUser {
    /*float: right!important;*/
    width: 75%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.lableFieldEnterUser {
    /*col-xs-4 col-sm-3 control-label*/
    padding-left: 10px;
    padding-top: 5px;
    text-align: right;
    margin-bottom: 0;
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}

.fieldEnterUser {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px!important;
    text-align: left;
    font-weight: 300;
    letter-spacing: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
}

.registration-login-btn {
    color: #ffffff;
    background: #3197d1;
    border-color: #2b88be;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.registration-login-btn:hover {
    background: #2b88be;
    border-color: #2b88be;
}

.registration-login-btn:active {
    background: #20648b!important;
    border-color: #174c6b!important;
}

.registrationLoginForm {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    font-weight: 300;
    letter-spacing: 0;
    display: block;
    margin-top: 0em;
    margin-left: 45px;
}

.container {
    padding-top: 120px;
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.divForRegistrationLoginForm {
    background-color: #ffffff;
    margin-left: 330px;
    border: 1px solid;
    border-color: #d3e0e9;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.displayBlock {
    display: block;
}

.blue-background-body {
    background-color: #f5f8fa;
}

.title-registration {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    font-size: 30px;
}

.forRegistrationLoginForm {
    margin: 0 20px 0 20px;
}

.get-registration-login-btn {
    color: #536570;
    background-color: #fff;
    border-color: #d4dbe0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.get-registration-login-btn:hover {
    color: #536570;
    background-color: #e6e6e6;
    border-color: #b0bdc6;
}

.get-registration-login-btn:active {
    color: #536570!important;
    background-color: #e6e6e6!important;
    border-color: #b0bdc6!important;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.renderError {
    color: red!important;
}

.main-body {
    background: #C8C9AD url(/Assets/img/background-b57148db0eeef9ddaf2b05b8536fcd10.png) no-repeat;
    background-size: 100% 100%;
}

.container {
    padding-top: 30px;
    width: 1230px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-fill-height {
    height: 80vh;
    display: table;
    width: 100%;
}

.container-content-middle {
    display: table-cell;
    vertical-align: middle;
}

.m-x-auto {
    margin-right: auto;
    margin-left: auto;
}

.btn-upload {
    white-space: normal;
    font-size: 25px;
    display: block;
}

.hint-upload {
    background: rgba(0,0,0,0.2);
    text-shadow: none;
    margin-top: 10px;
    margin-bottom: 20px;
    display: table;
    padding: 1px 8px 1px 8px;
    min-height: 20px;
    border: 0px;
    border-radius: 4px;
    font-size: 12px;
    color: white;
    white-space: normal;
}

.hide {
    display: none;
}

.mainUploadedFileContent {
    padding-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1230px;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}

.page-file-show {
    margin-left: -15px;
    margin-right: -15px;
}

.panel {
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.panel-default {
    border-color: #d3e0e9;
}

.panel-profile {

}

.panel-heading {
    color: #1e3948;
    background-color: #f5f5f5;
    border-color: #d3e0e9;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-profile-heading {
    background-color: #f5f8fa;
}

.panel-profile .panel-heading {
    height: 150px;
    background-size: cover;
}

.panel-body {
    padding: 15px;
}

.avatar-block {
    height: 100px;
    width: 100px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.circle-profile-link:hover, .circle-profile-link:visited, .circle-profile-link:active, .circle-profile-link:focus {
    color: #1e3948;
    text-decoration: none;
}

.for-tag-a {
    color: #3097D1;
    text-decoration: none;
    background-color: transparent;
}

.circle-block {
    color: white;
    padding-top: 17px;
    font-size: 40px;
    font-weight: bold;
    height: 100px;
    margin-top: -65px;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.for-link-profile-A {
    background-color: #d3e0e9;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.color-for-nickname {
    color: #1e3948;
    text-decoration: inherit;
    background-color: transparent;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
}

.panel-menu {
    list-style: none;
    padding: 0;
}

.file-upload-title, .file-share-title, .file-info-title, .file-show-title {
    font-size: 18pt;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.share-tab-content {

}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.file-info-description {
    font-size: 14pt;
}

.text-muted {
    color: #9da9b0;
}

.form-horizontal .form-group {
    margin-left: -15px;
    margin-right: -15px;
}

.form-group {
    margin-bottom: 15px;
}

.col-xs-4 {
    width: 33.33333333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-horizontal .control-label {
    padding-left: 10px;
    padding-top: 5px;
}

.form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
}

.form-horizontal .control-label label {
    font-weight: normal !important;
    font-size: 14px;
}

.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.file-info-view {
    font-size: 14pt;
}

/*.col-xs-8 {*/
    /*width: 66.66666667%;*/
    /*position: relative;*/
    /*min-height: 1px;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
/*}*/

.col-xs-3 {
    width: 25%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-default {
    color: #536570;
    background-color: #fff;
    border-color: #d4dbe0;
}

.btn-default:hover {
    color: #536570;
    background-color: #e6e6e6;
    border-color: #b0bdc6;
}

.btn-default:focus {
    color: #536570;
    background-color: #e6e6e6;
    border-color: #8a9dab;
}

.btn-default:active {
    background-image: none;
    color: #536570;
    background-color: #e6e6e6;
    border-color: #b0bdc6;
}

.col-xs-offset-6 {
    margin-left: 50%;
}

.pull-right {
    float: right !important;
}

.btn-primary {
    color: #fff;
    background-color: #3097D1;
    border-color: #2a88bd;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2579a9;
    border-color: #1f648b;
}

.btn-primary:active {
    background-image: none;
    color: #fff!important;
    background-color: #2579a9!important;
    border-color: #1f648b!important;
}

.btn-primary:focus {
    color: #fff;
    background-color: #2579a9;
    border-color: #133d55;
}

.m-b-1 {
    margin-bottom: 1rem!important;
}

.file-edit-update {

}

.media-list {
    padding-left: 0;
    list-style: none;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0;
}

.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}

.media-left {
    padding-right: 10px;
}

.user-icon-for-comment {
    color: white;
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding-top: 4px;
    margin-top: 3px;
}

.user-icon {
    color: white;
    height: 35px;
    width: 35px;
    min-width: 35px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 22px;
}

.little-icon-background-color {
    background-color: #d3e0e9;
}

.media-preview {
    max-height: 350px;
    overflow: hidden;
    border-radius: 4px;
    vertical-align: top;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.bg-for-fileinfo {
    background-color: #f5f8fa;
    border-color: #d3e0e9;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #d3e0e9;
}

.file-info-icon {
    line-height: 0;
    padding-right: 5px;
    min-width: 0px;
}

.icon-ext {
    font-size: 45px;
}

.media-group-image {
    color: #50BA50;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}

.visible-lg {
    display: block !important;
}

.nowrap {
    white-space: nowrap;
}

.color-light-gray {
    color: #9da9b0;
}

.file-info-time-block {
    white-space: nowrap !important;
}

.file-list-fileitem:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.file-list-fileitem:not(.table-list-item) {
    padding-bottom: 10px !important;
}

.file-list-fileitem {
    cursor: pointer;
}

.color-black {
    color: #1e3948;
}

.file-show-title, .file-list-title {
    word-break: break-all;
}

.file-list-fileitem .file-show-info, .file-list-fileitem .list-group {
    margin-top: 15px !important;
    margin-bottom: 11px !important;
}

.media-group-binary {
    color: #536570;
}