<!DOCTYPE html>
<html lang="en">
<head>
    <title>uppu login</title>
    <meta charset="UTF-8">
    {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="Assets/css/styles.css" rel="stylesheet">
    {% endblock %}
</head>
<body class="main-body">
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<div class="container">
    <div class="container-fill-height">
        <div class="container-content-middle">
            <div class="row">
                <div class="m-x-auto">
                    <img alt="Cloud-storage" class="img-responsive center-block cloud-img" onerror="this.onerror=null; this.src='cloud-storage.png'" src="/Assets/img/cloud-storage-27cfb32ad71ea9353f6fc5565b632817.svg">
                </div>
            </div>
            <div class="upload-form-wrap">
                <div id="upload-button-block">
                    <center>
                        <form action="/download" enctype="multipart/form-data" id="downloadFile" method="post">
                            <input type="hidden">
                            <!--<input name="userfile" type="file" />-->
                            <!--<input type="submit" value="Send File" />-->

                            <!--<button class="btn btn-primary btn-upload registration-login-btn" onchange="document.getElementById('downloadFile').submit()" name="downloadFile" type="file">Поделитесь - выберите файл</button>-->
                            <input class="btn btn-primary btn-upload registration-login-btn" onchange="document.getElementById('downloadFile').submit()" name="downloadFile" type="file" value="Поделитесь - выберите файл">
                        </form>

                        <div>
                            <button class="btn btn-primary btn-upload registration-login-btn" onchange="document.getElementById('downloadFile').submit()" name="downloadFile" type="file">Поделитесь - выберите файл</button>
                            <input type="file" name="downloadFile">
                        </div>

                        <span class="hint hint-upload no-overflow nowrap">Размер файла не более 100 МБ
                        </span>
                    </center>
                </div>

            </div>
        </div>
    </div>

</div>


</body>
</html>