<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="Assets/css/styles.css" rel="stylesheet">
    {% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light my-navbar">
    <a href="/"><img class="my-button" src="Assets/img/logo.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link my-text-color" href="#">Обзор <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary my-button" data-toggle="modal" data-target="#registration">
            Зарегестрироваться
        </button>

        <!-- Modal -->
        <div class="modal fade" id="registration" tabindex="-1" role="dialog" aria-labelledby="registrationLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registrationLabel">Регистрация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="displayBlock form-inline" action="/registration" method="post" id="sendRegistrationForm">
                            <div class="form-group fieldEnterUser">
                                <div class="lableFieldEnterUser">
                                    <label for="inputName">*Имя:</label>
                                </div>
                                <div class="imputFieldEnterUser">
                                    <input name="userName" type="text" id="inputName" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                                </div>
                            </div>
                            <div class="form-group fieldEnterUser">
                                <div class="lableFieldEnterUser">
                                    <label for="inputEmail">*E-mail:</label>
                                </div>
                                <div class="imputFieldEnterUser">
                                    <input name="email" type="text" id="inputEmail" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                                </div>
                            </div>
                            <div class="form-group fieldEnterUser">
                                <div class="lableFieldEnterUser">
                                    <label for="inputPassword">*Пароль:</label>
                                </div>
                                <div class="imputFieldEnterUser">
                                    <input name="password" type="password" id="inputPassword" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                                </div>
                            </div>
                            <div class="form-group fieldEnterUser">
                                <div class="lableFieldEnterUser">
                                    <label for="repeatPassword">*Повторите пароль:</label>
                                </div>
                                <div class="imputFieldEnterUser">
                                    <input name="passwordRepeater" type="password" id="repeatPassword" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="return $('#sendRegistrationForm').submit()" class="btn btn-primary registration-login-btn">Зарегестрироваться</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary my-button" data-toggle="modal" data-target="#login">
            Войти
        </button>

        <!-- Modal -->
        <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginLabel">Авторизация</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="displayBlock form-inline" method="post" action="/login" id="sendLoginForm">
                            <div class="form-group fieldEnterUser">
                                <div class="lableFieldEnterUser">
                                    <label for="inputEmailLogin">*E-mail:</label>
                                </div>
                                <div class="imputFieldEnterUser">
                                    <input name="email" type="text" id="inputEmailLogin" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                                </div>
                            </div>
                            <div class="form-group fieldEnterUser">
                                <div class="lableFieldEnterUser">
                                    <label for="inputPasswordLogin">*Пароль:</label>
                                </div>
                                <div class="imputFieldEnterUser">
                                    <input name="password" type="password" id="inputPasswordLogin" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" onclick="return $('#sendLoginForm').submit()" class="btn btn-primary registration-login-btn">Войти</button>
                    </div>
                </div>
            </div>
        </div>
        <form id="find">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <button class="btn btn-outline-success my-2 my-sm-0 my-button" type="submit" onclick="return $('#find').submit()">Search</button>
        <!--</form>-->
    </div>
</nav>

